<p><strong>Añadir nuevo comentario</strong></p>
<p>
  <form method='POST' action='/quizzes/<%= quiz.id %>/comments'>
    <input type='text'
     id="comment"
     name='comment'
     value="" placeholder="Nuevo comentario"/>
<p>
    <button type='submit'>Enviar</button>
  </form>
</p>
