<label for="preg">Pregunta:</label>
  <input type="text" id="preg" name="question" value="<%= quiz.question %>"
  placeholder="Pregunta" />
<label for="resp">Respuesta:</label>
  <input type="text" id="resp" name="answer" value="<%= quiz.answer %>"
    placeholder="Respuesta" /><br>

    <label for="img">Image:</label>
	<input type="file" id="img" accept="image/*" name="image" /> <p>

<label for="tem">Temática</label>
    <select name="tematica">
      <option></option>
      <option>geografia</option>
      <option>tecnología</option>
      <option>ocio</option></select>
  <a href="/quizzes"><button type="button">Cancelar</button></a>

  <input type="submit" value="Salvar">
