<p>Modificar pregunta</p>
<p>
<form method="post" action="/quizzes/<%= quiz.id %>?_method=PUT">
  <label for="preg">Pregunta:</label>
    <input type="text" id="preg" name="question" value="<%= quiz.question %>"
    placeholder="Pregunta" />
  <label for="resp">Respuesta:</label>
    <input type="text" id="resp" name="answer" value="<%= quiz.answer %>"
      placeholder="Respuesta" />
    <a href="/quizzes"><button type="button">Cancelar</button></a>

    <input type="submit" value="Salvar">

  </form>
</p>
