<table>
  <% for (var i in quizzes) { %>
  <tr>
    <td>
      <a href='/quizzes/<%= quizzes[i].id %>'><%= quizzes[i].question %></a>
    </td>
  </tr>
  <% } %>
</table>
<form method="get" class="derecha" action="/quizzes">
  Palabra a buscar:
    <input type="text" name="search" value="">
    <input type="submit" value="Buscar">
  </form>
  <a href="/quizzes/new"><button type="button">Crear pregunta</button></a>
